<a href="https://colab.research.google.com/github/AbiaAlvesReis/Projeto-IA-2022-01/blob/main/AMMS_Acuracia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as snsz
import matplotlib.pyplot as plt


from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
mega_df = pd.read_excel('/content/drive/MyDrive/2022/IA - projeto/megas.xlsx', parse_dates=True, index_col=1)

In [ ]:
# NÃºmero de linhas e de colunas
mega_df.shape

(2484, 7)

In [ ]:
mega_df.dropna(inplace=True)
mega_df.drop('lottery', inplace=True, axis=1)

In [ ]:
mega_df.head()

              ball_01  ball_02  ball_03  ball_04  ball_05  ball_06
date_occured
2022-05-25       59.0     36.0     41.0     54.0     14.0     11.0
2022-05-21       54.0     49.0     34.0     38.0     40.0     20.0
2022-05-18       32.0      1.0     57.0     44.0     35.0     45.0
2022-05-14        1.0     37.0     36.0     21.0      8.0     27.0
2022-11-05       31.0     56.0      6.0      4.0     50.0      9.0

In [ ]:
mega_df.describe()

,ball_01,ball_02,ball_03,ball_04,ball_05,ball_06
count,2484.000000,2484.000000,2484.000000,2484.000000,2484.000000,2484.000000
mean,30.453301,30.159018,30.731481,30.746377,30.565217,30.371578
std,17.295606,17.366813,17.331223,17.249376,17.170328,17.177335
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,16.000000,15.000000,16.000000,16.000000,15.000000,16.000000
50%,30.000000,31.000000,31.000000,31.000000,31.000000,30.000000
75%,45.000000,45.000000,45.250000,45.000000,45.000000,45.000000
max,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000

**Gerador** de **6** nÃºmeros aleatÃ³rios nÃ£o repetidos

In [ ]:
from random import randint


def existeNumero(numero, my_set): 
  for num in my_set:
    if num == numero:
      return True
  return False

def geraNumeros():
  #NÃºmeros nÃ£o podem ser duplicados, por isso o uso do set.
  my_set = {0}

  #Se nÃ£o existe nÃºmero adiciona o novo nÃºmero
  i = 1
  
  while i <= 6:
    novo_numero = randint(1, 60) 
    if (existeNumero(novo_numero, my_set) == False):
      my_set.add(novo_numero)
      i += 1

  my_set.discard(0)
  return my_set

FunÃ§Ã£o verifica a quantidade de vezes que as 6 dezenas jÃ¡ saÃ­ram no histÃ³rico de todos os concursos da Mega-Sena

[Sena, Quina, Quadra, Terno, Duas, Uma, Nenhuma]

In [ ]:
def vezesSairam(numeros):
  #numeros preditos
  predictNumbers = list(numeros)
  predictNumbers.sort()

  contNumberPreditOne = 0
  contNumberPreditTwo = 0
  contNumberPreditTree = 0
  contNumberPreditFour = 0
  contNumberPreditFive = 0
  contNumberPreditSix = 0

  contZero = 0
  contOne = 0
  contDouble = 0
  contThree = 0
  contFour = 0
  contFive = 0 
  countSix = 0

  for i in mega_df.index:
    for indexPredictNumberItem, predictNumberItem in enumerate(predictNumbers):
      contRepeat = 0
      if predictNumberItem == int(round(mega_df["ball_01"][i])):
        contRepeat = contRepeat + 1
      if predictNumberItem == int(round(mega_df["ball_02"][i])):
        contRepeat = contRepeat + 1
      if predictNumberItem == int(round(mega_df["ball_03"][i])):
        contRepeat = contRepeat + 1
      if predictNumberItem == int(round(mega_df["ball_04"][i])):
        contRepeat = contRepeat + 1
      if predictNumberItem == int(round(mega_df["ball_05"][i])):
        contRepeat = contRepeat + 1
      if predictNumberItem == int(round(mega_df["ball_06"][i])):
        contRepeat = contRepeat + 1

      if indexPredictNumberItem == 0:
        contNumberPreditOne = contNumberPreditOne + contRepeat

      if indexPredictNumberItem == 1:
        contNumberPreditTwo = contNumberPreditTwo + contRepeat

      if indexPredictNumberItem == 2:
        contNumberPreditTree = contNumberPreditTree + contRepeat

      if indexPredictNumberItem == 3:
        contNumberPreditFour = contNumberPreditFour + contRepeat

      if indexPredictNumberItem == 4:
        contNumberPreditFive = contNumberPreditFive + contRepeat

      if indexPredictNumberItem == 5:
        contNumberPreditSix = contNumberPreditSix + contRepeat

    rowNumbers = [int(round(mega_df["ball_01"][i])),int(round(mega_df["ball_02"][i])),int(round(mega_df["ball_03"][i])),int(round(mega_df["ball_04"][i])),int(round(mega_df["ball_05"][i])),int(round(mega_df["ball_06"][i]))]
    rowNumbers.sort()

    comparePredictWithRow = set(predictNumbers).intersection(rowNumbers)

    if len(comparePredictWithRow) == 0:
      contZero = contZero + 1
    if len(comparePredictWithRow) == 1:
      contOne = contOne + 1
    if len(comparePredictWithRow) == 2:
      contDouble = contDouble + 1
    if len(comparePredictWithRow) == 3:
      contThree = contThree + 1
    if len(comparePredictWithRow) == 4:
      contFour = contFour + 1
    if len(comparePredictWithRow) == 5:
      contFive = contFive + 1
    if len(comparePredictWithRow) == 6:
      countSix = countSix + 1

  #quantas vezes o primeiro nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores
  #print("quantas vezes o primeiro nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores - ", predictNumbers[0])
  #print(contNumberPreditOne)
  #quantas vezes o segundo nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores
  #print("quantas vezes o segundo nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores - ", predictNumbers[1])
  #print(contNumberPreditTwo)
  #quantas vezes o terceiro nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores
  #print("quantas vezes o terceiro nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores - ", predictNumbers[2])
  #print(contNumberPreditTree)
  #quantas vezes o quarto nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores
  #print("quantas vezes o quarto nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores - ", predictNumbers[3])
  #print(contNumberPreditFour)
  #quantas vezes o quinto nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores
  #print("quantas vezes o quinto nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores - ", predictNumbers[4])
  #print(contNumberPreditFive)
  #quantas vezes o sexto nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores
  #print("quantas vezes o sexto nÃºmero jÃ¡ saiu nas ediÃ§oes anteriores - ", predictNumbers[5])
  #print(contNumberPreditSix)

  #quantas vezes acertou zero numeros nos sorteios anteriores
  #print("quantas vezes acertou zero numeros nos sorteios anteriores")
  #print(contZero)
  #quantas vezes acertou um numero nos sorteios anteriores
  #print("quantas vezes acertou um numero nos sorteios anteriores")
  #print(contOne)
  #quantas vezes acertou dois numeros nos sorteios anteriores
  #print("quantas vezes acertou dois numeros nos sorteios anteriores")
  #print(contDouble)
  #quantas vezes acertou tres numeros nos sorteios anteriores
  #print("quantas vezes acertou tres numeros nos sorteios anteriores")
  #print(contThree)
  #quantas vezes acertou quatro numeros nos sorteios anteriores
  #print("quantas vezes acertou quatro numeros nos sorteios anteriores")
  #print(contFour)
  #quantas vezes acertou cinco numeros nos sorteios anteriores
  #print("quantas vezes acertou cinco numeros nos sorteios anteriores")
  #print(contFive)
  #quantas vezes acertou seis numeros nos sorteios anteriores
  #print("quantas vezes acertou seis numeros nos sorteios anteriores")
  #print(countSix)

  return [countSix, contFive, contFour, contThree,contDouble,contOne, contZero]

In [ ]:
i = 1
while i < 10:
 numeros = list(geraNumeros())
 lista_numeros = numeros + vezesSairam(numeros)
 print(lista_numeros)
 i+=1

[1, 38, 8, 42, 21, 58, 0, 0, 1, 22, 229, 949, 1283]
[36, 20, 25, 58, 59, 57, 0, 0, 2, 19, 231, 917, 1315]
[15, 47, 18, 56, 29, 31, 0, 0, 3, 22, 244, 880, 1335]
[32, 3, 16, 51, 22, 26, 0, 0, 0, 20, 223, 917, 1324]
[2, 35, 38, 8, 43, 58, 0, 0, 1, 27, 241, 958, 1257]
[36, 9, 17, 19, 52, 57, 0, 0, 1, 22, 237, 924, 1300]
[35, 38, 42, 56, 57, 29, 0, 0, 2, 28, 232, 984, 1238]
[4, 6, 7, 12, 29, 31, 0, 0, 1, 24, 236, 935, 1288]
[41, 44, 45, 47, 16, 23, 0, 0, 1, 23, 260, 930, 1270]

In [ ]:
'''
i = 1
matrix = []
while i < 100:
 numeros = list(geraNumeros())
 lista_numeros = numeros + vezesSairam(numeros)
 matrix.append(lista_numeros)
 i+=1

for x in matrix
  '''