<a href="https://colab.research.google.com/github/AbiaAlvesReis/Projeto-IA-2022-01/blob/main/AMMStensorFlowKerasFuturos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
# Import everything
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
# Create a DataFrame
mega_df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/dados testes /mega.xlsx', parse_dates=True, index_col=1)

In [32]:
mega_df.head()

            lottery  ball_01  ball_02  ball_03  ball_04  ball_05  ball_06
date
1996-03-11      1.0     41.0      5.0      4.0     52.0     30.0     33.0
1996-03-18      2.0      9.0     39.0     37.0     49.0     43.0     41.0
1996-03-25      3.0     36.0     30.0     10.0     11.0     29.0     47.0
1996-04-01      4.0      6.0     59.0     42.0     27.0      1.0      5.0
1996-04-08      5.0      1.0     19.0     46.0      6.0     16.0      2.0

In [33]:
mega_df.tail()

            lottery  ball_01  ball_02  ball_03  ball_04  ball_05  ball_06
date
2022-05-14   2481.0      1.0     37.0     36.0     21.0      8.0     27.0
2022-05-18   2482.0     32.0      1.0     57.0     44.0     35.0     45.0
2022-05-21   2483.0     54.0     49.0     34.0     38.0     40.0     20.0
2022-05-25   2484.0     59.0     36.0     41.0     54.0     14.0     11.0
2022-05-28   2485.0     60.0     12.0     38.0     47.0      5.0     32.0

In [34]:
mega_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2485 entries, 1996-03-11 to 2022-05-28
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   lottery  2485 non-null   float64
 1   ball_01  2485 non-null   float64
 2   ball_02  2485 non-null   float64
 3   ball_03  2485 non-null   float64
 4   ball_04  2485 non-null   float64
 5   ball_05  2485 non-null   float64
 6   ball_06  2485 non-null   float64
dtypes: float64(7)
memory usage: 155.3 KB

In [35]:
mega_df.describe()

,lottery,ball_01,ball_02,ball_03,ball_04,ball_05,ball_06
count,2485.000000,2485.000000,2485.000000,2485.000000,2485.000000,2485.00000,2485.000000
mean,1243.000000,30.465191,30.151710,30.734406,30.752918,30.55493,30.372233
std,717.502033,17.302279,17.367138,17.328347,17.248985,17.17453,17.173908
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000
25%,622.000000,16.000000,15.000000,16.000000,16.000000,15.00000,16.000000
50%,1243.000000,30.000000,31.000000,31.000000,31.000000,31.00000,30.000000
75%,1864.000000,45.000000,45.000000,45.000000,45.000000,45.00000,45.000000
max,2485.000000,60.000000,60.000000,60.000000,60.000000,60.00000,60.000000

In [36]:
mega_df.drop('lottery', inplace=True, axis=1)

In [37]:
#df.drop('date', inplace=True, axis=1)

In [38]:
mega_df.head()

            ball_01  ball_02  ball_03  ball_04  ball_05  ball_06
date
1996-03-11     41.0      5.0      4.0     52.0     30.0     33.0
1996-03-18      9.0     39.0     37.0     49.0     43.0     41.0
1996-03-25     36.0     30.0     10.0     11.0     29.0     47.0
1996-04-01      6.0     59.0     42.0     27.0      1.0      5.0
1996-04-08      1.0     19.0     46.0      6.0     16.0      2.0

In [39]:
scaler = StandardScaler().fit(mega_df.values)
transformed_dataset = scaler.transform(mega_df.values)
transformed_mega_df = pd.DataFrame(data=transformed_dataset, index=mega_df.index)

In [40]:
transformed_mega_df.head()

                   0         1         2         3         4         5
date
1996-03-11  0.608991 -1.448527 -1.543124  1.232035 -0.032318  0.153040
1996-03-18 -1.240849  0.509587  0.361653  1.058077  0.724769  0.618957
1996-03-25  0.319953 -0.008737 -1.196801 -1.145395 -0.090555  0.968394
1996-04-01 -1.414271  1.661419  0.650256 -0.217617 -1.721205 -1.477668
1996-04-08 -1.703309 -0.642245  0.881138 -1.435325 -0.847642 -1.652387

In [41]:
# All our games
number_of_rows = mega_df.values.shape[0]
number_of_rows

2485

In [42]:
# Amount of games we need to take into consideration for prediction
window_length = 7
window_length

7

In [43]:
# Balls counts
number_of_features = mega_df.values.shape[1]
number_of_features

6

In [44]:
X = np.empty([ number_of_rows - window_length, window_length, number_of_features], dtype=float)
X

array([[[ 1.55342073e-314, -8.39572910e-019,  1.68856075e-028,
          2.17356699e-020,  4.46271756e-020,  5.53661141e-021],
        [-8.61546985e-020,  2.20678882e-023, -1.06099790e-314,
         -4.32142226e-018, -1.94034011e-029,  2.77522445e-021],
        [-4.09019050e-022,  5.60395673e-031, -1.90699824e-021,
         -3.27313659e-019,  2.80921583e-020,  2.69351744e-017],
        ...,
        [-1.16943961e-018,  1.16018946e-017, -1.44878823e-019,
         -1.06099790e-314, -1.02558055e-021,  1.98368703e-018],
        [-1.55259743e-314,  4.03756091e-016,  7.82987316e-020,
          1.23654375e-019, -6.61765908e-018, -4.99363389e-315],
        [-4.76255853e-315,  3.26944912e-018,  1.06099790e-314,
         -1.84824943e-016,  4.82303356e-020,  6.01638671e-021]],

       [[-2.51367005e-020,  1.30455721e-020, -5.74750827e-019,
         -8.55745827e-023,  7.45035729e-024, -2.97405811e-016],
        [-1.80629784e-022,  4.43208154e-020,  1.06099790e-314,
         -4.26071706e-027,  4.69068335e-020, -1.55493315e-314],
        [-1.55920535e-314, -3.86905568e-021, -5.15365052e-019,
          1.27579393e-018,  4.57490678e-018, -2.24340845e-017],
        ...,
        [ 3.11596271e-023, -1.43480331e-017,  2.29153651e-020,
         -1.55877336e-314,  4.93486073e-315, -5.00620981e-315],
        [-4.86113939e-315, -4.64127829e-019,  1.83877913e-017,
         -5.86229362e-021, -5.03178434e-315, -1.16510387e-021],
        [-5.42568762e-029, -2.92136471e-020,  3.60511197e-018,
          2.61175588e-020,  5.40764718e-015, -3.95378950e-022]],

       [[-2.03499535e-019,  1.03577885e-017, -1.52460244e-020,
          4.76907751e-020,  1.97673650e-019,  3.27713971e-021],
        [ 2.51679418e-018, -1.55553084e-314,  3.08613267e-018,
          4.20733321e-019, -3.92214878e-018, -1.05597818e-014],
        [-2.91945034e-021, -1.03607218e-026, -9.87436754e-018,
          1.06099790e-314, -1.55591017e-314,  7.54611159e-022],
        ...,
        [ 1.56288445e-314,  1.55853345e-314,  1.06099790e-314,
         -1.81300461e-021,  3.17779233e-016, -7.45863064e-019],
        [ 4.13114706e-017,  3.19263588e-017,  2.13258448e-024,
         -8.50002000e-019, -2.50223347e-022,  1.35456216e-015],
        [ 2.73125058e-019, -4.55931185e-023, -4.85280098e-016,
         -5.01930460e-315,  1.55692838e-314, -7.59601803e-017]],

       ...,

       [[-1.75623061e-031,  4.94647659e-032,  3.01664431e-031,
          1.28386278e-041,  1.32468837e-042,  6.63159076e-031],
        [-2.75406990e-031, -2.14808563e-029,  8.93410770e-034,
          1.29802497e-035,  1.05856044e-029, -1.26028255e-028],
        [ 1.60504788e-032,  9.41586567e-031,  1.75842233e-033,
         -1.81252974e-031,  1.05866077e-031,  2.01480217e-030],
        ...,
        [-2.74888579e-033, -5.00569963e-031,  3.06024357e-040,
         -2.13212389e-029,  3.98164873e-028, -1.99954639e-031],
        [ 1.12892677e-027, -6.96641932e-034,  3.94308392e-028,
         -5.75451605e-029, -2.64189012e-031,  4.61912641e-027],
        [ 3.93989637e-031,  6.92462500e-034, -2.97830626e-037,
          1.71409907e-032, -1.52686737e-028,  2.99594017e-033]],

       [[-4.08267725e-030, -7.15978047e-029, -3.70234577e-032,
         -2.34991807e-028,  1.09907721e-026, -5.63100600e-036],
        [ 4.41974642e-039, -3.87323224e-029,  2.76726040e-037,
         -3.62918430e-028, -2.44909606e-027,  2.46640922e-035],
        [ 8.10457934e-033, -1.60029536e-028, -7.99856051e-035,
          8.20262415e-032, -1.35163581e-031,  4.36010312e-031],
        ...,
        [ 3.18127931e-029,  2.22457490e-033,  1.44536490e-028,
         -4.31933787e-028, -4.20808105e-032,  7.83215321e-028],
        [ 5.80931625e-028,  4.91270943e-030, -4.89670270e-029,
         -1.81744205e-028,  2.08391864e-034, -8.96234471e-039],
        [ 3.57184377e-034,  5.02930170e-031,  6.00793042e-034,
         -9.81970399e-029, -6.95004471e-045, -2.27723909e-029]],

       [[-1.09458487e-033, -1.16687711e-030,  2.24563911e-034,
         -1.47839797e-028,  1.11885035e-030, -3.38618779e-028],
        [ 4.77452356e-032,  5.49069822e-034,  9.92604377e-036,
          4.89058185e-029,  2.85003616e-027, -5.89667757e-030],
        [ 9.90550177e-029, -2.58526778e-027, -1.24355757e-031,
         -4.28609616e-027,  5.91255064e-029, -9.69653837e-029],
        ...,
        [-1.23196749e-027,  3.31381315e-032, -4.40330263e-028,
         -9.52311214e-031,  1.63799281e-031, -6.53142866e-030],
        [-1.65493462e-034,  8.99291370e-032,  4.10673439e-029,
          1.98698400e-029,  9.49291460e-029,  8.41762489e-034],
        [-4.35213478e-033, -2.61837553e-031,  1.55964403e-033,
         -2.21246988e-032,  1.53608952e-033,  1.81462559e-032]]])

In [45]:
y = np.empty([ number_of_rows - window_length, number_of_features], dtype=float)
y

array([[ 2.29624384e-315, -4.12308827e-035,  5.01212659e-036,
        -2.32410030e-037,  9.54948753e-041, -5.11823204e-044],
       [-2.29267049e-031, -7.38101019e-039, -3.44321172e-035,
         2.66407488e-036, -3.21550460e-037,  6.02111145e-038],
       [-2.66763260e-042,  2.11440485e-039,  3.74494413e-035,
        -3.26192357e-039, -1.00934206e-033, -1.97454491e-035],
       ...,
       [ 3.30736163e-037, -5.37380787e-039, -1.24708360e-042,
        -5.22511913e-034, -1.19146375e-042,  4.75240719e-042],
       [-1.13157677e-047,  1.88158821e-032, -3.43927458e-038,
         1.61188044e-036, -7.22008788e-039, -3.10325852e-035],
       [-8.68074007e-036,  3.81995847e-034, -1.19050603e-036,
         3.60609043e-053,  1.85593041e-036,  1.55160519e-032]])

In [46]:
for i in range(0, number_of_rows-window_length):
    X[i] = transformed_mega_df.iloc[i : i+window_length, 0 : number_of_features]
    y[i] = transformed_mega_df.iloc[i+window_length : i+window_length+1, 0 : number_of_features]

In [47]:
X.shape

(2478, 7, 6)

In [48]:
y.shape

(2478, 6)

In [49]:
X[0]

array([[ 0.60899083, -1.44852726, -1.54312392,  1.23203531, -0.0323177 ,
         0.15304004],
       [-1.24084876,  0.50958717,  0.36165334,  1.05807703,  0.72476949,
         0.61895672],
       [ 0.31995339, -0.00873724, -1.19680078, -1.14539452, -0.09055517,
         0.96839423],
       [-1.41427122,  1.66141919,  0.65025595, -0.21761702, -1.7212045 ,
        -1.47766835],
       [-1.70330866, -0.64224485,  0.88113804, -1.43532498, -0.84764236,
        -1.65238711],
       [-0.66277389,  0.56717877, -1.36996235, -1.02942233, -0.49821751,
         0.96839423],
       [ 1.47610314,  0.45199557, -0.56187503, -0.62351968, -1.60472955,
        -1.47766835]])

In [50]:
X[1]

array([[-1.24084876,  0.50958717,  0.36165334,  1.05807703,  0.72476949,
         0.61895672],
       [ 0.31995339, -0.00873724, -1.19680078, -1.14539452, -0.09055517,
         0.96839423],
       [-1.41427122,  1.66141919,  0.65025595, -0.21761702, -1.7212045 ,
        -1.47766835],
       [-1.70330866, -0.64224485,  0.88113804, -1.43532498, -0.84764236,
        -1.65238711],
       [-0.66277389,  0.56717877, -1.36996235, -1.02942233, -0.49821751,
         0.96839423],
       [ 1.47610314,  0.45199557, -0.56187503, -0.62351968, -1.60472955,
        -1.47766835],
       [ 1.30268067, -0.75742805,  0.41937386, -1.55129717,  0.9577194 ,
         0.38599838]])

In [51]:
y[0]

array([ 1.30268067, -0.75742805,  0.41937386, -1.55129717,  0.9577194 ,
        0.38599838])

In [52]:
y[1]

array([ 1.41829565,  0.73995358,  1.45834327,  1.34800749, -1.31354217,
        1.72550884])

In [53]:
# Recurrent Neural Netowrk (RNN) with Long Short Term Memory (LSTM)
# Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import LSTM, Dense, Bidirectional, Dropout
batch_size = 60

In [54]:
# Initialising the RNN
model = Sequential()
# Adding the input layer and the LSTM layer
model.add(Bidirectional(LSTM(60,
                        input_shape = (window_length, number_of_features),
                        return_sequences = True)))
# Adding a first Dropout layer
model.add(Dropout(0.2))
# Adding a second LSTM layer
model.add(Bidirectional(LSTM(240,
                        input_shape = (window_length, number_of_features),
                        return_sequences = True)))
# Adding a second Dropout layer
model.add(Dropout(0.2))
# Adding a third LSTM layer
model.add(Bidirectional(LSTM(240,
                        input_shape = (window_length, number_of_features),
                        return_sequences = True)))
# Adding a fourth LSTM layer
model.add(Bidirectional(LSTM(240,
                        input_shape = (window_length, number_of_features),
                        return_sequences = False)))
# Adding a fourth Dropout layer
model.add(Dropout(0.2))
# Adding the first output layer
model.add(Dense(59))
# Adding the last output layer
model.add(Dense(number_of_features))

In [55]:
from tensorflow import keras
from tensorflow.keras.optimizers import Adam
model.compile(optimizer=Adam(learning_rate=0.0001), loss ='mse', metrics=['accuracy'])

In [56]:
model.fit(x=X, y=y, batch_size=60, epochs=20, verbose=2)

Epoch 1/20
42/42 - 27s - loss: 1.0003 - accuracy: 0.1711 - 27s/epoch - 653ms/step
Epoch 2/20
42/42 - 11s - loss: 0.9976 - accuracy: 0.1852 - 11s/epoch - 267ms/step
Epoch 3/20
42/42 - 11s - loss: 0.9968 - accuracy: 0.1844 - 11s/epoch - 264ms/step
Epoch 4/20
42/42 - 11s - loss: 0.9965 - accuracy: 0.1739 - 11s/epoch - 265ms/step
Epoch 5/20
42/42 - 11s - loss: 0.9954 - accuracy: 0.1788 - 11s/epoch - 265ms/step
Epoch 6/20
42/42 - 11s - loss: 0.9955 - accuracy: 0.1881 - 11s/epoch - 267ms/step
Epoch 7/20
42/42 - 11s - loss: 0.9951 - accuracy: 0.1868 - 11s/epoch - 268ms/step
Epoch 8/20
42/42 - 11s - loss: 0.9946 - accuracy: 0.1820 - 11s/epoch - 265ms/step
Epoch 9/20
42/42 - 11s - loss: 0.9951 - accuracy: 0.1864 - 11s/epoch - 266ms/step
Epoch 10/20
42/42 - 11s - loss: 0.9948 - accuracy: 0.1844 - 11s/epoch - 266ms/step
Epoch 11/20
42/42 - 11s - loss: 0.9936 - accuracy: 0.1868 - 11s/epoch - 265ms/step
Epoch 12/20
42/42 - 11s - loss: 0.9934 - accuracy: 0.1852 - 11s/epoch - 263ms/step
Epoch 13/20
42/42 - 11s - loss: 0.9925 - accuracy: 0.1808 - 11s/epoch - 264ms/step
Epoch 14/20
42/42 - 11s - loss: 0.9935 - accuracy: 0.1877 - 11s/epoch - 265ms/step
Epoch 15/20
42/42 - 12s - loss: 0.9924 - accuracy: 0.1881 - 12s/epoch - 292ms/step
Epoch 16/20
42/42 - 11s - loss: 0.9924 - accuracy: 0.2026 - 11s/epoch - 273ms/step
Epoch 17/20
42/42 - 11s - loss: 0.9915 - accuracy: 0.1836 - 11s/epoch - 264ms/step
Epoch 18/20
42/42 - 11s - loss: 0.9913 - accuracy: 0.1921 - 11s/epoch - 264ms/step
Epoch 19/20
42/42 - 11s - loss: 0.9916 - accuracy: 0.1840 - 11s/epoch - 264ms/step
Epoch 20/20
42/42 - 11s - loss: 0.9906 - accuracy: 0.1836 - 11s/epoch - 264ms/step

In [57]:
mega_df_predicit = mega_df.tail(6)
mega_df.drop([mega_df_predicit.index[-1]],axis=0, inplace=True)
mega_df_predicit

            ball_01  ball_02  ball_03  ball_04  ball_05  ball_06
date
2022-05-11     31.0     56.0      6.0      4.0     50.0      9.0
2022-05-14      1.0     37.0     36.0     21.0      8.0     27.0
2022-05-18     32.0      1.0     57.0     44.0     35.0     45.0
2022-05-21     54.0     49.0     34.0     38.0     40.0     20.0
2022-05-25     59.0     36.0     41.0     54.0     14.0     11.0
2022-05-28     60.0     12.0     38.0     47.0      5.0     32.0

In [58]:
mega_df_predicit = np.array(mega_df_predicit)
mega_df_predicit

array([[31., 56.,  6.,  4., 50.,  9.],
       [ 1., 37., 36., 21.,  8., 27.],
       [32.,  1., 57., 44., 35., 45.],
       [54., 49., 34., 38., 40., 20.],
       [59., 36., 41., 54., 14., 11.],
       [60., 12., 38., 47.,  5., 32.]])

In [59]:
scaled_to_predict = scaler.transform(mega_df_predicit)

In [60]:

scaled_to_predict

array([[ 0.03091596,  1.48864439, -1.42768287, -1.55129717,  1.13243182,
        -1.24471001],
       [-1.70330866,  0.39440397,  0.30393281, -0.56553358, -1.31354217,
        -0.19639747],
       [ 0.08872344, -1.67889367,  1.51606379,  0.76814656,  0.25886968,
         0.85191506],
       [ 1.36048816,  1.08550318,  0.18849177,  0.42023   ,  0.55005706,
        -0.60407457],
       [ 1.6495256 ,  0.33681237,  0.59253543,  1.34800749, -0.96411732,
        -1.12823084],
       [ 1.70733308, -1.04538605,  0.41937386,  0.94210484, -1.4882546 ,
         0.09480045]])

In [61]:
y_pred = model.predict(np.array([scaled_to_predict]))
resulta=scaler.inverse_transform(y_pred).astype(int)[0]
#print("Numeros previstos:", scaler.inverse_transform(y_pred).astype(int)[0])
print("Numeros previstos:", resulta)

Numeros previstos: [28 26 29 30 30 31]

In [62]:
prediction = mega_df.tail(6)
prediction = np.array(prediction)
prediction_final = prediction[0]
print("Numeros sorteados:", prediction_final)

Numeros sorteados: [21. 10. 35. 20. 17. 15.]